
.inputcelula {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    background: #9cff57;
    color: white;
    min-width: 35px;
    text-align: center;
}

.input {
    width: 100%;
    padding: 10px;
    outline: none;

}

.input:focus {
    border: 1px solid #9cff57;
}

.btn {
    background-color: #9cff57;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}